{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "flow-vars"
  ],
  "env"     : {
    "browser" : true,
    "node": true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false,
    "Promise": false
  },
  "rules": {
    "strict": [2, "never"],
    "eqeqeq": 2,
    "array-bracket-spacing": 2,
    "func-names": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-bitwise": ["error", { "allow": ["~"] }],
    "radix": 2,
    "comma-style": [2, "last"],
    "keyword-spacing": 2,
    "no-trailing-spaces": 2,
    "no-nested-ternary": 2,
    "no-mixed-spaces-and-tabs": 2,
    "semi-spacing": 2,
    "space-before-blocks": 2,
    "space-infix-ops": 2,
    "operator-linebreak": [2, "after"],
    "no-console": 0,
    "no-undef": 2,
    "no-undefined": 0,
    "no-unused-vars": [1, { "args": "none" }],
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "comma-dangle": 2,
    "no-cond-assign": 2,
    "no-control-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 1,
    "no-ex-assign": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 1,
    "use-isnan": 2,
    "valid-jsdoc": 2,
    "valid-typeof": 1,
    "block-scoped-var": 1,
    "curly": 2,
    "default-case": 1,
    "no-floating-decimal": 2,
    "no-lone-blocks": 1,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": "off",
    "no-octal": 2,
    "no-param-reassign": [2, { "props": false }],
    "no-redeclare": 2,
    "no-sequences": 2,
    "no-with": 2,
    "no-shadow-restricted-names": 1,
    "new-cap": 1,
    "new-parens": 1,
    "spaced-comment": "off",

    "padded-blocks": 0, // TODO: Decide on the code standard for this
    // "padded-blocks": [2, "always"],
    // "padded-blocks": [2, "never"],
    // "padded-blocks": [2, "blocks"],
    // "padded-blocks": [2, "classes"],
    // "padded-blocks": [2, "switches"],

    "quotes": [2, "single", { "avoidEscape": true }],
    // "quotes": 0,

    "arrowFunctions": 0, // TODO: Decide on the code standard for this
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": [2, "always"],
    "arrow-spacing": 2,
    "constructor-super": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 1,
    "object-shorthand": 1,
    "prefer-arrow-callback": 0,

    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,

    "react/display-name": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": [1, "always"],
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-curly-spacing": 2,
    "react/jsx-handler-names": 0,
    "react/jsx-indent-props": [2, 2],
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-bind": [2, {"allowArrowFunctions": true}],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 0,
    "react/no-set-state": 0,
    "react/no-unknown-property": 2,
    "react/prefer-es6-class": 2,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/sort-prop-types": 0,
    "react/wrap-multilines": 0,
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }
}
